<%= form_with(model: specialty, local: true) do |form| %>
  <% if specialty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specialty.errors.count, "error") %> prohibited this specialty from being saved:</h2>

      <ul>
      <% specialty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :specialty_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
