<!DOCTYPE html>
<html>
<head>
  <title>Healthcare Dashboard</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% if user_signed_in? %>
    <%= link_to "My Profile", user_path(current_user.id) %>.
  <% end %>

</head>

<body>
<% if flash[:error] %>
  <div id="error">
    <%= flash[:error] %>
  </div>
<% end %>
<div id="container">



  <main role="main">

    <div class="container-fluid">
      <% if flash[:error].present? %>
        <p class='alert alert-danger'><%= flash[:error] %></p>

      <% elseif flash[:notice].present? %>
        <p class='alert alert-warning'><%= flash[:notice] %></p>

      <% else flash[:alert].present? %>
        <p class='alert alert-danger'><%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </div>

  </main>

  <hr>

  <footer class="container">
    <p>&copy; Team Harmony 2018</p>
  </footer>

</div>
</body>
</html>
