<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name , "First Name" %><br />
    <%= f.text_field :first_name, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :last_name, "Last Name" %><br />
    <%= f.text_field :last_name, autocomplete: "on" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :gender, "Gender" %>
    <%= f.select :gender, ['Please Select', 'Male', 'Female', 'Others'],
                 :selected => 'Select One' %>
  </div>

  <div class="field">
    <%= f.label :Date_of_Birth, "Date Of Birth" %><br />
    <%= f.date_select :dob %>
  </div>

  <div class="field">
    <%= f.label :contact, "Contact Number" %><br />
    <%= f.text_field :contact, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :province, "Province" %><br />
    <%= f.text_field :province, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :city_village, "City or Village" %><br />
    <%= f.text_field :city_village, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :address_line_1, "Address Line 1" %><br />
    <%= f.text_field :address_line_1, autocomplete: "on" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
